@keyframes  example{
    0%   { top:0px; }
    10%   { top:5px; }
    20%   { top:7px; }
    30%   { top:9px; }
    40%   { top:11px; }
    50%   { top:13px; }
    60%   { top:15px; }
    70%   { top:17px; }
    80%   { top:19px; }
    90%  { top:21px; }
    100% { top:23px; }
  }


 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    font-family: 'Open Sans', sans-serif;
    transition: all 1s ease ;
}


/*-------+++++++++++++HEADER++++++++++++++++----------*/

header{
    background:#2f55a4 ;
    color: white;
    
}

 

a:hover{
    color:white !important;
}
 
.navbar-brand{
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 30px !important;
    margin-left: -24px;
}

.nav-link{
    color: white !important;
}
.hover-me:hover{
    color:#e24545 !important;
}
.hover-me-fixed{
    color:#e24545 !important ;
}

.nav-button{
    border: 2px solid #e24545 ;
    border-radius: 25px;
    margin-left: 10px;
    transition: all .5s ease;

}
.nav-button:hover{
    background-color:#e24545;
     
}
.nav-button-item {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
 .nav-img{
  height: 400px;
  width: 400px;
  margin-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    transition: all 2.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: alternate;
   
  
     
 }
 


 .nav-h1-text {
      max-width: 500px;
      font-size: 45px;
      font-family: 'Jost', sans-serif;
      font-weight: 600;
      letter-spacing: 1px;

}
.nav-h4-text {
      font-size: 23px;
      color:rgba(255, 255, 255, 0.6) ;
      max-width: 500px;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
}

.cover-btn-div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.cover-btn-one{
    display: inline-flex;
     
     align-items: center;
    background-color: #e24545;
    border-radius: 25px;
    margin-right: 34px;
    padding: 8px 20px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}


.cover-btn-two{
     display: inline-flex;
     align-items: center;
     color: white;
     text-decoration: none;
     font-size: 20px;
      
     
} 
.cover-btn-two i{
   font-size: 45px;
   color: white;
   padding-right: 5px;
   transition: all .5s ease;
} 
.cover-btn-two i:hover{
    color: #e24545;
}


/*-------+++++++++++END HEADER++++++++++++----------*/

/*-------+++++++++++branding-section++++++++++++----------*/
.branding-section{
    background-color: #f3f5fa;
}


.branding-img{
    height: 80px;
    width: 140px;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.branding-img:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
}

/*-------+++++++++++END branding-section++++++++++++----------*/


/*-------+++++++++++AboutUS-section++++++++++++----------*/

.about-us-section{
    margin-top: 100px;
}

.fade-up{
    data-aos="fade-up";
}

.about-us-h1-text{
   color: #2f55a4;
   font-size: 32px;
   letter-spacing: 2px;
   font-family: 'Jost', sans-serif;
   font-weight: 600;
   
}
 

.divider{
    background-color:#0e0d0d99;
    height: 1px;
    width: 10%;
    margin: auto;
   
}
.divider::after{
    content:"";
    position: relative;
    display: inline-block;
    height: 5px;
    width: 27px;
    background-color: #e24545;
    top: -15px;
    left: 37px;

}

.check-paragraph{
    font-family: 'Open Sans', sans-serif;
     
    font-size:17px;
    max-width: 100%;
}
.check-item  {
   list-style: none;
   padding-left: 0px;
  
}

.check-item li i{
    color: #e24545;
}

.Learn-More-btn{
    border: 1px solid #e24545;
    color: #e24545;
    padding: 5px 15px;
    transition: all 1s ease;
}
.Learn-More-btn:hover{
    color: white;
    background-color: #e24545;
}






/*-------+++++++++++END AboutUS-section++++++++++++----------*/


/*-------+++++++++++Accordion-section++++++++++++----------*/

.Accordion-section{
    margin-top: 50px;
    background-color:#f3f5fa   ;
    padding: 20px 0px;
}


.Accordion-section-h1{
    color: #2f55a4;
     
    font-size: 35px;
}
.Accordion-section-h1 span{
    font-family: 'Jost', sans-serif;
    font-weight: 800;
}



.number-span{
  color: #e24545;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  padding-right: 5px;
}

.Accordion-section-img{
    width: 400px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 41px;
    
}
.p-class-one:hover{
    color: #e24545 !important;
}

/*-------+++++++++++END Accordion-section++++++++++++----------*/



/*-------+++++++++++PROGRESS-section++++++++++++----------*/
.progress-section{
    margin-top: 100px;
}

.progress-section-img{
    width: 420px;
}
.progress-text{
    display: flex;
    justify-content: space-between;
}

.progress-bar-h3{
    color: #2f55a4;
    font-size: 38px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.progress-text p{
    color: #2f55a4;
     font-size: 12px;
     margin-bottom: 0px;
}
.progress-bar{
background-color: #2f55a4 !important;
}

/*-------+++++++++++END PROGRESS-section++++++++++++----------*/


/*-------+++++++++++SERVICES-section++++++++++++----------*/
.service{
    margin-top: 150px;
    padding: 30px 0px;
    background-color:#f3f5fa   ;
}
.services-paragraph{
    margin-top: 26px;
    text-align: center;
    font-size: 17px;
}
#service-card-one{
    background-color:white ;
    max-width: 440px;
    margin-right: 10px;
    margin-left: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: all .5s ease;
    
    
}
#service-card-one:hover{
    /* transform: scale(1.1); */
    transform: translate(0px,-10px);
}

#service-card-two{
    background-color:white ;
    max-width: 440px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: all .5s ease;
 
    
}
#service-card-two:hover{
    /* transform: scale(1.1); */
    transform: translate(0px,-10px);
}
.searvice-card-div-one{
    padding: 33px 10px 30px 20px;
   
}
.searvice-card-div-two{
    padding: 33px 10px 30px 20px;
    
}
 
.sarvices-card-div-two{
 
    background-color:white ;
  
}


#id-class{
    font-size: 40px;
   color: #e24545;
   padding-bottom:8px ;
}
.sarvices-card-h3{
    color: #2f55a4;
}



/*-------+++++++++++END SERVICES-section++++++++++++----------*/





/*-------+++++++++++Call To Action-section++++++++++++----------*/
.Call-To-Action{

    background-image: linear-gradient(rgba(47,85,164,.8), rgba(47,85,164,.8)),url(../image/office-Building.jpg);
    background-size: cover;
    padding: 120px 0;
    color: white;

}
#Call-To-Action-div-one{
    padding-top: 52px;
    padding-left: 33px;
}

#Call-To-Action-div-paragraph{
    padding-left: 49px;
    text-align: center;
}
.action-h3{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}
.call-to-action-btn{
    text-align: center;
    text-decoration: none;
    color: white;
     border: 1px solid white;
     border-radius: 25px;
     padding: 15px 55px;
     transition: all 1s ease;
}

.call-to-action-btn:hover{
    background-color: #e24545;
    /* border: none; */
    border: #e24545;
}

/*-------+++++++++++END Call To Action-section++++++++++++----------*/


/*-------+++++++++++Portfolio-section++++++++++++----------*/
.portfolio-text{
 text-align: center;
 max-width: 922px;
 font-size: 16px;
 font-family: 'Open Sans', sans-serif;
}



/*-------+++++++++++END Portfolio-section++++++++++++----------*/


/*-------++++++++++Clint Testimonial-section++++++++++++----------*/

.Clint-Testimonial{
    background-color:#f3f5fa  ;
}















/*-------+++++++++++END Clint Testimonial-section++++++++++++----------*/